<div class="sign-in">
  <div class="container">
    <label for="uname"><b>Email</b></label>
    <form>
      <input
        type="text"
        placeholder="Enter Email"
        name="uname"
        required
        [(ngModel)]="credentials.email"
      />
    </form>

    <label for="psw"><b>Password</b></label>
    <form>
      <input
        type="password"
        placeholder="Enter Password"
        name="psw"
        required
        [(ngModel)]="credentials.password"
      />
    </form>

    <button type="submit" (click)="signIn(credentials)">Sign in</button>
    <div class="wrong" *ngIf="!isValid"><h1>Wrong email or password</h1></div>
  </div>
</div>
