
input[type=text], input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .addButton {
      width:200px;
      background-color: red;
      font-size: medium;
  }

  .modal {
      display: flex;
      flex-direction: column;
  }

  